# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

front/node_modules
back/node_modules
front/dist
back/dist
front/dist-ssr
back/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

front/src/prompts/*
front/src/style/green
front/src/components/deprecated
front/src/deprecated
front/tofix
front/coverage

trailer.mp4

back/images/*.*
!/back/images/.gitkeep
back/deprecated
back/images/generated/*.*
!/back/images/generated/.gitkeep