.customSelectArrow {
  transform: rotate(180deg);
}

.customSelectArrowOpen {
  transform: rotate(0deg);
}

span.selectLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 1em;
  cursor: pointer;
  background: #f6f6f6;
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  column-gap: 1rem;
  font-weight: 500;
  transition: outline 0.1s ease-in;
}

span.selectLabel:focus,
span.selectLabel-active {
  outline: 1px solid #86e5ce;
}
