.clipboardIcon {
  width: 20px;
  height: 20px;
  align-self: center;
  flex-shrink: 0;
  justify-self: center;
  opacity: 0.7;
}

.questionItem2 {
  background: var(--base-container-background-color);
  border-bottom: 1px solid #cfd4eb;

  figure {
    height: 34px;
    width: 34px;
    border-radius: 100%;
    outline: 2px solid #fff;
    border: 1px solid #fff;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px -1px hsla(252, 29%, 50%, 0.7),
      0 4px 8px -1px hsla(246, 29%, 52%, 0.55);
  }

  .questionTextContainer {
    width: 100%;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
  }
}

.questionIconsContainer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  column-gap: 8px;

  .iconButton {
    background: #f8f8fccc;
    box-shadow: 0 1px 2px -1px hsla(252, 29%, 53%, 0.08),
      0 2px 4px hsla(246, 29%, 53%, 0.21);
    border: none;
    outline: none;

    &:hover {
      background: var(--secondary-button-border-hover-color);
      box-shadow: inset 0 1px 2px
          var(--secondary-button-hover-innershadow-color),
        0 2px 0px #fff;
      outline: 1px solid var(--secondary-button-border-hover-color);
      border: none;
      color: var(--secondary-button-hover-text-color);
    }
  }
}
