.formUploadFileContainer {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
  width: 100%;
  color: #252525;

  h3 {
    color: var(--label-grey-text-color);
    transform: translateY(-2px);
  }

  form.fileUploadForm {
    display: grid;
    width: 100%;
    flex-direction: column;
    text-align: left;
    flex: 1 1 100%;

    label {
      text-align: left;
      margin: 1.5rem 0 0.85rem 0;
      font-weight: 500;
    }

    .uploadImageNTextContainer {
      color: #252525;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: var(--main-background-color);
      border-radius: 4px;
      border: 1px dashed #aebae0dd;
      padding: 2rem 1.5rem 1.35rem 1.5rem;
      margin-top: 0.8rem;
      font-size: 14px;
      cursor: pointer;

      .imageContainer {
        background: #aebae022;
        border: 1px dashed #aebae0aa;
        border-radius: 4px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.95rem 0;

        img {
          border-radius: 3px;
        }
      }

      &:hover {
        background-color: #d8d2f0aa; /*var(--light-purple-background-color);*/
        border: 1px dashed var(--light-purple-border-color);
      }

      h4 span {
        color: var(--purple-button-color);
        text-decoration: underline;
      }
    }

    input,
    select {
      padding: 0.5em 0.5em 0.45em 0.5em;
      width: 100%;
      height: 40px;
      max-width: 400px;
      justify-self: center;

      &::file-selector-button {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 1rem;
      }
    }

    article.fileRow {
      /*background-color: #ffffff88;*/
      background: linear-gradient(
        to bottom,
        #ffffff66,
        var(--base-container-background-color)
      );
      border-radius: 4px;
      margin-top: 1rem;
      padding: 0.75rem 1rem 1rem 1rem;
      box-shadow: 0 6px 12px -2px #42396b30;
      border: 1px solid #ffffffaa;

      .filename {
        font-size: 14px;
      }

      .progressBarContainer {
        width: 100%;
        height: 0.75rem;
        background-color: hsla(238, 27%, 55%, 0.2);
        justify-self: center;
        margin-top: 0.5rem;
        border-radius: 3rem;
        overflow: hidden;
        box-shadow: 0 1px 1px #ffffff, inset 0 1px 3px #00000022;

        .progressBar {
          width: 10%;
          height: 100%;
          background: url("../../assets/progressstripes.png") repeat center
              center,
            var(--purple-button-color);
          animation: moveBackground 15s linear infinite;
          box-shadow: inset 0 2px 5px #ffffff55, inset 0 -1px 4px #00000055,
            3px 0 6px #6d48c155;
        }
      }
    }

    button {
      &.save-button {
        width: 100%;
        padding: 0;
        background: var(--purple-button-color);
        color: #fff;

        &:hover {
          background: var(--purple-button-hover-background-color);
          border: 1px solid var(--purple-button-hover-border-color);
          box-shadow: 0 2px 0px #fff;
        }
      }

      &.cancel-button {
        border: 2px solid var(--purple-button-color);
        background: #fff;
        color: var(--purple-button-color);
        padding: 0;
        width: 100%;
        font-weight: 500;

        &:hover {
          background: var(--secondary-button-hover-color);
          box-shadow: inset 0 1px 2px
              var(--secondary-button-hover-innershadow-color),
            0 2px 0px #fff;
          outline: 1px solid var(--secondary-button-border-hover-color);
          border: none;
          color: var(--secondary-button-hover-text-color);
          text-shadow: #ffffffff;
        }
      }
    }
  }
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
