.agentForm {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 120px 1fr;
  grid-template-areas:
    "label1 . label2"
    "input1 . input2"
    "baseBar baseBar baseBar"
    "set1 set1 set1"
    "set2 set2 set2"
    "advancedBar advancedBar advancedBar"
    ". . z";

  .settingsSet1 {
    /*background-color: red;*/
    width: 100%;
    display: grid;
    /*grid-column: span 3;*/
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr 120px 1fr;
    grid-template-areas:
      "label3 label3 label3"
      "textarea textarea textarea"
      "label4 . label5"
      "input4 . input5"
      "label6 . label7"
      "input6 . input7";
  }

  .settingsSet2 {
    width: 100%;
    display: grid;
    grid-column: span 3;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr 120px 1fr;
    grid-template-areas:
      "label8 . label9"
      "input8 . input9"
      "label10 . label11"
      "input10 . input11"
      "label12 . label13"
      "input12 . input13";
  }

  .advancedBar,
  .baseBar {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #373737ff;
    transition: padding 0.5s ease;

    hr {
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  .deleteAgentButton {
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background: var(--purple-button-color);
    color: #fff;
    width: fit-content;
    padding: 0 0.85rem;
    column-gap: 0.75rem;
    border: 1px solid var(--purple-button-color);

    &:hover {
      background: var(--purple-button-hover-background-color);
      border: 1px solid var(--purple-button-hover-border-color);
      box-shadow: 0 2px 0px #fff;
    }
  }

  .agentInputNDeleteContainer {
    display: flex;
    flex-direction: row;
    column-gap: 0.75rem;
  }

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  .formRow {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .formColumn {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    row-gap: 0.8rem;
  }

  .labelErrorContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    span {
      color: hsla(337, 89%, 28%, 0.733);
      font-weight: 500;
    }
  }

  .formLabel {
    text-align: left;
    margin: 1.5rem 0 0.85rem 0;
    font-weight: 500;
  }

  .formInput,
  .formSelect {
    padding: 0.5em 0.5em 0.45em 0.5em;
    width: 100%;
    height: 40px;
  }

  .formTextarea {
    width: 100%;
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
    scrollbar-width: thin;
    scrollbar-color: hsla(238, 30%, 72%, 1) hsla(238, 27%, 55%, 0.8);
  }

  .inputNSliderContainer {
    display: flex;
    column-gap: 2rem;

    .sliderbarContainer {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      flex-grow: 1;
      padding: 0;

      .sliderTrack {
        width: 100%;
        height: 8px;
        border-radius: 8px;
        width: 100%;
        background: linear-gradient(to bottom, #b0b4ddbb, #c6c9e7cc);
        cursor: pointer;
        box-shadow: 0 1px 0px #ffffffaa, inset 0 1px 2px #00000022;
        margin-top: auto;

        .slider {
          height: 18px;
          width: 18px;
          border-radius: 18px;
          background: var(--purple-button-color);
          margin-left: 32px;
          transform: translateY(calc(-25% - 1px));
          box-shadow: inset 0 1px 0 hsla(230, 62%, 80%, 0.867),
            0px 1px 2px -1px var(--purple-button-4-8-shadow),
            0px 1px 2px var(--purple-button-1-2-shadow),
            0px 4px 8px var(--purple-button-4-8-shadow);
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 6px;
            height: 8px;
            opacity: 0.7;
          }

          /*outline: 4px solid var(--base-container-background-color);*/
        }
      }
    }
  }

  .full-width {
    width: 100%;
  }

  .formSpan {
    text-align: left;
    height: 48px;
    display: flex;
    align-items: center;
  }

  .justify-right {
    justify-content: right;
  }

  button {
    &.saveButton {
      width: 100%;
      padding: 0;
      background: var(--purple-button-color);
      color: #fff;

      &:hover {
        background: var(--purple-button-hover-background-color);
        border: 1px solid var(--purple-button-hover-border-color);
        box-shadow: 0 2px 0px #fff;
      }
    }

    &.cancelButton {
      border: 2px solid var(--purple-button-color);
      background: #fff;
      color: var(--purple-button-color);
      padding: 0;
      width: 100%;
      font-weight: 500;

      &:hover {
        background: var(--secondary-button-hover-color);
        box-shadow: inset 0 1px 2px
            var(--secondary-button-hover-innershadow-color),
          0 2px 0px #fff;
        outline: 1px solid var(--secondary-button-border-hover-color);
        border: none;
        color: var(--secondary-button-hover-text-color);
        text-shadow: #ffffffff;
      }
    }
  }

  .webSearchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .switchContainer {
    width: 64px;
    height: 32px;
    background: linear-gradient(to bottom, #b0b4ddcc, #c6c9e7cc);
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 0 1px 0px #fff, inset 0 1px 2px #00000033;
    display: flex;
    flex-direction: row;

    .switch {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background: linear-gradient(
        to bottom,
        rgb(132, 138, 179),
        rgb(132, 130, 169)
      );
      transition: margin 0.2s ease-in, box-shadows 0.2s ease-in;
      box-shadow: inset 0 1px 0 rgb(150, 160, 211), 0 2px 4px #00000033;

      &.active {
        background: var(--purple-button-color);
        margin-left: 32px;
        box-shadow: inset 0 1px 0 hsla(230, 62%, 80%, 0.867),
          0px 1px 2px -1px var(--purple-button-4-8-shadow),
          0px 1px 2px var(--purple-button-1-2-shadow),
          0px 4px 8px var(--purple-button-4-8-shadow);
      }
    }
  }
}
