.formNHistoryContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 2.5rem;

  .prompt-form {
    display: grid;
    width: 100%;
    flex-direction: column;
    text-align: left;
    flex: 1 1 100%;

    label {
      text-align: left;
      margin: 1.5rem 0 0.85rem 0;
      font-weight: 500;
    }

    input,
    select {
      padding: 0.5em 0.5em 0.45em 0.5em;
      width: 100%;
      height: 40px;
    }

    textarea {
      width: 100%;
      background-color: var(--input-background-color);
      border-color: var(--input-border-color);
      scrollbar-width: thin;
      scrollbar-color: hsla(238, 30%, 72%, 1) hsla(238, 27%, 55%, 0.8);
    }

    button {
      &.save-button {
        width: 100%;
        padding: 0;
        background: var(--purple-button-color);
        color: #fff;

        &:hover {
          background: var(--purple-button-hover-background-color);
          border: 1px solid var(--purple-button-hover-border-color);
          box-shadow: 0 2px 0px #fff;
        }
      }

      &.cancel-button {
        border: 2px solid var(--purple-button-color);
        background: #fff;
        color: var(--purple-button-color);
        padding: 0;
        width: 100%;
        font-weight: 500;

        &:hover {
          background: var(--secondary-button-hover-color);
          box-shadow: inset 0 1px 2px
              var(--secondary-button-hover-innershadow-color),
            0 2px 0px #fff;
          outline: 1px solid var(--secondary-button-border-hover-color);
          border: none;
          color: var(--secondary-button-hover-text-color);
          text-shadow: #ffffffff;
        }
      }
    }
  }

  .historyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 100%;
    max-width: 260px;
    text-align: left;
    font-size: 14px;

    h3 {
      margin-bottom: 0.85rem;
      line-height: 1.5rem;
    }

    .historyTable {
      width: 100%;

      .historyHeader {
        display: flex;
        flex-direction: row;
        height: 2.25rem;
        font-weight: 500;
        border-bottom: 1px solid #25252566;
        background-color: var(--input-background-color);
        width: 100%;

        div {
          display: flex;
          align-items: center;
          height: 100%;
          flex-shrink: 0;
          flex-grow: 0;
        }

        & > div:nth-child(2) {
          width: 25%;
          text-align: right;
          padding-right: 0.5rem;
          justify-content: right;
        }

        & > div:first-child {
          width: 75%;
          text-align: left;
          padding: 0 0.5rem;
        }
      }

      .historyBody {
        display: flex;
        flex-direction: column;
        width: 100%;

        .historyRow {
          display: flex;
          flex-direction: row;
          height: 2.25rem;
          border-bottom: 1px dashed #25252544;
          width: 100%;

          div {
            height: 100%;
            text-align: right;
            flex-grow: 0;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-grow: 0;
          }

          & > div:nth-child(2) {
            width: 25%;
            justify-content: right;
            padding-right: 0.5rem;
          }

          & > div:first-child {
            width: 75%;
            padding: 0 0.5rem;
          }
        }
      }
    }
  }
}
