textarea:focus {
  border: none;
  box-sizing: border-box;
  outline: 1px solid #2292ee;
  padding: 0.5rem 0.75rem;
}

textarea {
  margin: 2rem 0;
  border: none;
  outline: 1px solid #cdcdcdaa;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  resize: none;
  height: 300px;
}

button {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #0078d7;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background-color: #2292ee;
  box-shadow: 0 4px 8px #97c8f0;
}
