.textAreaTitle {
  margin: 2.5rem 0 0.5rem 0;
  text-align: left;
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  textarea {
    margin: 0 0 1rem 0;
    border: none;
    outline: 1px solid var(--base-container-border-color);
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    resize: none;
    background-color: var(--answer-background-color);
    height: 100px;
    min-height: 100px;
    transition: outline 0.1s ease-in, background 0.2s ease-in;
    /*outline: 1px solid #25252588;*/
    font-weight: 400;

    &:focus {
      border: none;
      box-sizing: border-box;
      outline: 2px solid var(--purple-button-color);
    }

    &::placeholder {
      font-weight: 300;
      color: #252525;
    }
  }

  .suggestionOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding: 0.5rem 0.75rem;
    text-align: left;
    opacity: 0.7;
  }

  #suggestions {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
}
