.followUpQuestionsContainer {
  display: flex;
  column-gap: 1rem;
  max-height: 8rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: hsla(237, 26%, 75%, 0.4);
  padding: 1rem 0 1rem 1rem;
  border-radius: 6px;
  box-shadow: inset 0 2px 4px -1px #8985be99, 0 1px 0 #ffffff77;

  button {
    width: 22px;
    height: 22px;
    display: flex;
    align-self: center;
    border-radius: 4px;
    transform: translateX(-8px);
    justify-content: center;
    align-items: center;
    border: 2px solid var(--purple-button-color);
    color: var(--purple-button-color);
    box-shadow: 0 1px 1px #8985be80, 0 3px 6px #8985be80;
    flex-shrink: 0;

    svg {
      path {
        fill: var(--purple-button-color);
      }
    }

    &:hover {
      background: #707bafbb;
      box-shadow: inset 0 1px 2px
          var(--secondary-button-hover-innershadow-color),
        0 2px 0px #ffffff99;
      outline: 1px solid var(--secondary-button-border-hover-color);
      flex-shrink: 0;
      border: none;
      color: var(--secondary-button-hover-text-color);

      svg path {
        fill: hsl(230, 28%, 48%);
      }
    }
  }

  span {
    display: flex;
    width: 33%;
    font-size: 14px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 4px;
    background-color: var(--base-container-background-color);
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid var(--base-container-background-color);
    box-shadow: 0 4px 8px -2px #8985be80;
    transition: border 0.15s ease-in, box-shadow 0.15s ease-in,
      background-color 0.15s ease-in;
  }

  span:hover {
    border: 2px solid var(--purple-button-color);
  }
}
