.leftDrawer {
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  flex: 1 1 300px;
  max-width: 300px;
  border-right: 1px solid #cfd9e0;
  font-size: 14px;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #2a413f, #2f565f);
  overflow: hidden;
  color: #8aa7a3;

  figure {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    color: #ffffffc3;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;

    span {
      font-family: "Cormorant Garamond", serif;
      transform: translateY(-1px);
      color: #8aa7a3;
      text-shadow: 0px 1px 2px #00000099, 0px 3px 6px #00000055;
    }

    img {
      width: 32px;
      outline: 2px solid #8aa7a3;
      border-radius: 100%;
      box-shadow: 0 2px 4px #000000ee, 0 4px 8px #000000bb;
      opacity: 0.9;
    }
  }

  h3 {
    border-top: 1px solid #263635;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 14px;
    color: #8aa7a3;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    width: 100%;
    row-gap: 0.5rem;

    li {
      width: 100%;
      text-align: left;
      height: 36px;
      background: linear-gradient(to bottom, #1a202088, #222b2a88);
      box-shadow: 0 1px 0px #476e6aaa;
      color: #ffffffc3;
      padding: 0 0.5rem;
      display: flex;
      border-radius: 4px;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      align-items: center;
      column-gap: 0.5rem;
      line-height: 36px;

      &.active {
        background: #49a199ee;
        outline: none; /*ee*/
        border: none;
        color: #fff;
        font-weight: 500;
        text-shadow: 0 2px 1px #3e807999;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 2px #222b2aff, 0 2px 4px #222b2aaa,
          inset 0 1px 0 #58b9b1dd;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
          flex-shrink: 1;
        }

        .conversationTrashBtn {
          height: 24px;
          width: 24px;
          flex-shrink: 0;
          margin: 0;
          background: none;
          box-shadow: none;
          transform: translateX(5px);
        }
      }

      &:hover {
        background: #49a199ee;
        box-shadow: none;
        color: #fff;
        outline: 1px solid #3e8079aa;
        border: 1px solid #49a199ee;
      }

      .activeFileIndic {
        width: 8px;
        height: 8px;
        background: #86e5ce;
        border-radius: 2px;
        border: none;
        outline: none;
        transform: translateY(1px);
        box-shadow: 0 1px 2px #000000aa, inset 0 1px 0 #a1fce5;
      }
    }
  }

  button {
    height: 36px;
    margin-top: 0.5rem;
    font-weight: 500;
    letter-spacing: 0.015em;
    font-size: 14px;
    border: none;
    width: 36px;
    padding: 0;
    background: linear-gradient(to bottom, #5fd1be, #56b8af);
    color: #fff;
    outline: none;
    box-shadow: 0 2px 4px #222b2a77, 0 4px 8px #222b2a44,
      inset 0 1px 0 #abebebdd;

    &:hover {
      background: #49a199ee;
      box-shadow: inset 0 1px 2px #00000033, 0 2px 0px #fff;
      outline: 1px solid #3e8079cc;
    }

    &.white {
      background: linear-gradient(to bottom, #e6eec1dd, #bddca0dd);
      box-shadow: 0 2px 4px #222b2a77, 0 4px 8px #222b2a44,
        inset 0 1px 0 #f9ffdf;
      color: #000000;

      svg path {
        fill: #000000cc;
      }

      &:hover {
        background: linear-gradient(to bottom, #f8fce5dd, #d9ecc6dd);
        box-shadow: 0 2px 4px #76c4b955, 0 4px 8px #7fe1c766;
        color: #000000cc;

        svg path {
          fill: #000000cc;
        }
      }
    }
  }
}
