.leftDrawer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  flex: 0 0 360px;
  font-size: 16px;
  padding: 0 0 0 22px;
  align-items: flex-start;
  max-width: 360px;
  min-width: 360px;
  overflow: hidden;

  figure {
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    color: #ffffffc3;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    width: 100%;
    min-height: 74px;

    span {
      font-family: "Montserrat";
      transform: translateY(-1px);
      color: #6d48c1;
    }

    img {
      width: 42px;
      border: 3px solid #6d48c1;
      border-radius: 100%;
      opacity: 0.9;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--base-container-background-color);
    border: 1px solid var(--base-container-border-color);
    border-radius: 6px;
    padding: 18px 1rem;
    width: 100%;
    /*flex: 0 0 100%;*/

    h3 {
      padding-top: 0.5rem;
      font-size: 14px;
      color: #8a90b7;
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      font-family: "Poppins";
      font-size: 16px;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin-top: 0.75rem;
      width: 100%;
      row-gap: 0.5rem;

      li {
        width: 100%;
        text-align: left;
        height: 34px;
        font-size: 14px;
        background: #dee0f2;
        padding: 0 0.25rem 0 0.5rem;
        display: flex;
        border-radius: 4px;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        align-items: center;
        column-gap: 0.5rem;
        line-height: 36px;
        border: 1px dashed #a3a8db;

        &.active {
          background: #6755be;
          border: none;
          color: #fff;
          font-weight: 500;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: auto;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 1;
          }

          .conversationTrashBtn {
            height: 36px;
            width: 36px;
            flex-shrink: 0;
            margin: 0;
            background: none;
            box-shadow: none;
            transform: translateX(5px);
            border-radius: 0;
            border: none;
            outline: none;

            &:hover {
              background-color: #408681ee;
              outline: 0 0 0 1px solid rgb(52, 107, 103);
            }
          }
        }

        &:hover:not(.active) {
          background-color: #d8d2f0;
          border: 1px solid #6d48c1;
          color: #6d48c1;
        }
      }
    }

    button {
      height: 36px;
      margin-top: 0.5rem;
      font-weight: 500;
      letter-spacing: 0.015em;
      font-size: 14px;
      border: none;
      width: 36px;
      padding: 0;
      color: #fff;
      outline: none;

      &.purple {
        background: var(--purple-button-color);
      }

      &.white {
        background: #f8f8fc;

        svg path {
          fill: var(--purple-button-color);
        }
      }
    }

    .buttonsContainer {
      display: flex;
      column-gap: 0.5rem;
      width: 100%;
    }
  }
}
