.topContainer {
  width: 100%;
  height: 74px;
}

.infosBarContainer {
  background: #b4bad4;
  border: 1px solid hsl(231, 37%, 75%);
  border-radius: 6px;
  margin-top: 0.75rem;
  height: 50px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0 1px 0 #ffffff88;
  font-size: 16px;

  span {
    padding: 0 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 fit-content;
    white-space: nowrap;

    &.label {
      color: #fff;
      text-shadow: 0 1px 2px #747391;
      box-shadow: inset 0 2px 4px -2px hsl(244, 27%, 63%);
    }

    &.value {
      background: #d3d7e9;
      color: var(--main-black-text-color);
      white-space: nowrap;
      flex: 1 1 fit-content;
    }
  }

  .allocationBarContainer {
    padding: 0 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 fit-content;
    background: #d3d7e9;
    font-size: 14px;
    /*max-width: 260px;*/

    .rowContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 166px;
      flex-shrink: 0;
      column-gap: 12px;
      font-size: 13px;
    }

    .barContainer {
      background: #737097;
      border-radius: 14px;
      height: 20px;
      width: 120px;
      flex-shrink: 0;
      box-shadow: 0 1px 0 hsl(246, 14%, 90%);
      overflow: hidden;

      .bar,
      .barVRAM,
      .barRAM {
        background: /*linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 10%,
            rgba(255, 255, 255, 0.15) 45%,
            rgba(255, 255, 255, 0) 85%
          ),*/ var(
          --purple-button-color
        );
        border-radius: 0 14px 14px 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-weight: 400;
          color: #fff;
          font-size: 12px;
          display: flex;
          height: 100%;
        }
      }

      .barRAM {
        background: #00b7ff;
      }
    }
  }

  button {
    width: 50px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 15%,
        rgba(255, 255, 255, 0.15) 50%
      ),
      var(--purple-button-color);
    border: none;
    outline: none;
    border-radius: 0;
    padding: 0;

    svg {
      transform: translateY(1px);
    }

    &:hover {
      background: var(--purple-button-hover-background-color);
      border: 1px solid var(--purple-button-hover-border-color);

      svg path {
        fill: #ffffffee;
      }
    }
  }
}
