.rightDrawer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 360px;
  flex: 0 0 360px;
  font-size: 16px;
  padding: 0 16px 0 0;
  align-items: flex-start;
  max-width: 360px;

  a:any-link {
    color: var(--main-black-text-color);
    text-decoration: underline;
  }

  .userSettingsContainer {
    display: flex;
    align-items: center;
    height: 74px;
    width: 100%;
    flex-shrink: 0;

    img {
      box-shadow: 0 2px 4px -1px hsla(252, 29%, 45%, 0.7),
        0 5px 10px -1px hsla(246, 29%, 47%, 0.6);
      outline: 4px solid #fff;
      border-radius: 100%;
      height: 44px;
      margin-left: auto;
      transform: translateY(-1px);
    }
  }

  .settingsFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: var(--base-container-background-color);*/
    background: linear-gradient(
      to bottom,
      #ffffff66,
      var(--base-container-background-color)
    );
    border: 1px solid var(--base-container-border-color);
    border-radius: 6px;
    padding: 18px 1rem;
    width: 100%;
    /*flex: 0 0 100%;*/
    border: 1px solid #ffffffaa;
    box-shadow: 0 6px 12px -2px #42396b30;

    .beingUsed {
      display: flex;
      text-align: left;
      width: 100%;
      border-radius: 4px;
      padding: 0 0.3rem 0 0.5rem;
      background-color: var(--input-background-color);
      border: 1px solid var(--input-border-color);
      height: 40px;
      font-size: 1rem;
      box-shadow: 0 1px 0 #f2f2fa;
      align-items: center;
      justify-content: space-between;
      column-gap: 0.45rem;
      color: var(--input-text-color-darkbg);
      animation: fadeInOut 2s ease-in-out infinite;
    }

    label {
      width: 100%;
      text-align: left;
      font-weight: 500;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-size: 16px;
      color: var(--label-grey-text-color);
      /*
      #566181ee
      #536189ee
      */
    }

    label:first-child {
      margin-top: 0.25rem;
    }

    input {
      width: 100%;
      height: 40px;
      min-height: 40px;
      padding: 0 0.5rem;
      color: var(--input-text-color-darkbg);

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }

    figure {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 40px;
      background-color: hsl(232, 40%, 95%);
      border: 1px solid #f6f6fb;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 1px 2px -1px hsla(252, 29%, 53%, 0.3),
        0 4px 8px hsla(246, 29%, 53%, 0.21);

      /*&::after {
        position: absolute;
        top: 0;
        transform: translateY(-50%) translateX(-50%) scale(0);
        background-color: #ffffff88;
        width: max-content;
        height: 40px;
        padding: 0.5rem 0.75rem;
        content: attr(data-tooltip);
        color: #252525;
        font-size: 14px;
        border-radius: 4px;
        left: 0;
        opacity: 0;
        border: 1px solid #fff;
        backdrop-filter: blur(16px);
        font-weight: 500;
        transition: transform 0.15s ease-in;
        font-weight: 400;
      }

      &:hover::after {
        transform: translateY(-1px) translateX(calc(-100% - 8px)) scale(1);
        opacity: 1;
      }*/

      svg path {
        fill: var(--label-grey-text-color);
      }
    }
  }

  .systemPromptContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 12px;

    button {
      height: 40px;
      width: 40px;
      flex: 0 0 40px;
      padding: 0;
      background: /*linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 15%,
          rgba(255, 255, 255, 0.15) 50%
        ),*/ var(
        --purple-button-color
      );
      color: #fff;

      &:hover {
        background: var(--purple-button-hover-background-color);
        border: 1px solid var(--purple-button-hover-border-color);
        box-shadow: 0 2px 0px #fff;
      }
    }
  }

  .temperatureContainer,
  .contextContainer,
  .maxTokensContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 12px;
  }

  .webSearchContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .switchContainer {
      width: 64px;
      height: 32px;
      background: linear-gradient(to bottom, #b0b4ddcc, #c6c9e7cc);
      border-radius: 22px;
      cursor: pointer;
      box-shadow: 0 1px 0px #fff, inset 0 1px 2px #00000033;

      .switch {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: linear-gradient(
          to bottom,
          rgb(132, 138, 179),
          rgb(132, 130, 169)
        );
        transition: margin 0.2s ease-in, box-shadows 0.2s ease-in;
        box-shadow: inset 0 1px 0 rgb(150, 160, 211), 0 2px 4px #00000033;

        &.active {
          background: var(--purple-button-color);
          margin-left: 32px;
          box-shadow: inset 0 1px 0 hsla(230, 62%, 80%, 0.867),
            0px 1px 2px -1px var(--purple-button-4-8-shadow),
            0px 1px 2px var(--purple-button-1-2-shadow),
            0px 4px 8px var(--purple-button-4-8-shadow);
        }
      }
    }
  }

  .settingsSaveContainer {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    width: 100%;
    margin-top: 2rem;

    button {
      width: 100%;
      background: /*linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 15%,
          rgba(255, 255, 255, 0.15) 50%
        ),*/ var(
        --purple-button-color
      );

      &.save {
        color: #fff;
        width: 50%;
        font-weight: 500;

        &:hover {
          background: var(--purple-button-hover-background-color);
          border: 1px solid var(--purple-button-hover-border-color);
          box-shadow: 0 2px 0px #fff;
          color: #ffffffee;
        }
      }

      &.more {
        border: 2px solid var(--purple-button-color);
        background: #fff;
        color: var(--purple-button-color);
        padding: 0;
        width: 50%;
        font-weight: 500;

        &:hover {
          background: var(--secondary-button-hover-color);
          box-shadow: inset 0 1px 2px
              var(--secondary-button-hover-innershadow-color),
            0 2px 0px #fff;
          outline: 1px solid var(--secondary-button-border-hover-color);
          border: none;
          color: var(--secondary-button-hover-text-color);
          text-shadow: #ffffffff;
        }
      }

      .checkmarkSVG {
        height: 80%;
      }

      .checkmarkIcon {
        fill: none;
        stroke: #fff;
        stroke-width: 10px;
        stroke-dasharray: 75;
        stroke-dashoffset: 75;
        animation: checkmark 0.25s ease-out forwards;
        animation-delay: 0.25s;
      }
    }
  }

  .newAgentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: var(--base-container-background-color);*/
    background: linear-gradient(
      to bottom,
      #ffffff66,
      var(--base-container-background-color)
    );
    border: 1px solid var(--base-container-border-color);
    border-radius: 6px;
    padding: 12px 1rem;
    width: 100%;
    border: 1px solid #ffffffaa;
    box-shadow: 0 6px 12px -2px #42396b30;
    margin-bottom: 12px;

    button {
      color: #fff;
      width: 65%;
      font-weight: 500;
      height: 44px;
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 15%,
          rgba(255, 255, 255, 0.15) 50%
        ),
        var(--purple-button-color);

      &:hover {
        background: var(--purple-button-hover-background-color);
        border: 1px solid var(--purple-button-hover-border-color);
        box-shadow: 0 2px 0px #fff;
        color: #ffffffee;
      }
    }
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 75;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
