.rightDrawer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 360px;
  flex: 0 0 360px;
  font-size: 16px;
  padding: 0 22px 0 0;
  align-items: flex-start;
  max-width: 360px;
  justify-content: center;
  overflow: hidden;

  .settingsFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--base-container-background-color);
    border: 1px solid var(--base-container-border-color);
    border-radius: 6px;
    padding: 18px 1rem;
    width: 100%;
    /*flex: 0 0 100%;*/

    label {
      width: 100%;
      text-align: left;
      font-weight: 500;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      color: var(--label-grey-text-color);
    }

    input {
      width: 100%;
      height: 40px;
      min-height: 40px;
      padding: 0 0.5rem;
      color: var(--input-text-color-darkbg);

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }

    figure {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 40px;
      background-color: #edeef8;
      border: 1px solid #f6f6fb;
      border-radius: 4px;

      svg path {
        fill: #beb8cc;
      }
    }
  }

  .systemPromptContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 12px;

    button {
      height: 40px;
      width: 40px;
      flex: 0 0 40px;
      padding: 0;
      background: var(--purple-button-color);
      color: #fff;

      &:hover {
        background: var(--purple-button-hover-background-color);
        border: 1px solid var(--purple-button-hover-border-color);
        box-shadow: 0 2px 0px #fff;
      }
    }
  }

  .temperatureContainer,
  .contextContainer,
  .maxTokensContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 12px;
  }

  .webSearchContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .switchContainer {
      width: 64px;
      height: 32px;
      background: linear-gradient(to bottom, #1a202088, #222b2a88);
      border-radius: 22px;
      cursor: pointer;
      box-shadow: 0 1px 0px #476e6aaa, inset 0 1px 2px #00000033;

      .switch {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: linear-gradient(to bottom, #7ea7a3, #5c8080);
        transition: margin 0.2s ease-in, box-shadows 0.2s ease-in;
        box-shadow: inset 0 1px 0 #91b9b5;

        &.active {
          background: var(--purple-button-color);
          margin-left: 32px;
          box-shadow: 0 2px 4px var(--green-button-dropshadow-2-4-darkbg),
            0 8px 16px var(--green-button-dropshadow-4-8-darkbg),
            inset 0 1px 0 #abebebdd;
        }
      }
    }
  }

  .settingsSaveContainer {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    width: 100%;
    margin-top: 2rem;

    button {
      width: 100%;
      background: var(--purple-button-color);

      &.save {
        color: #fff;
        width: 50%;
        font-weight: 500;

        &:hover {
          background: var(--purple-button-hover-background-color);
          border: 1px solid var(--purple-button-hover-border-color);
          box-shadow: 0 2px 0px #fff;
          color: #ffffffdd;
        }
      }

      &.more {
        border: 2px solid var(--purple-button-color);
        background: #fff;
        color: var(--purple-button-color);
        padding: 0;
        width: 50%;
        font-weight: 500;
      }

      &.more:hover {
        background: var(--secondary-button-hover-color);
        box-shadow: inset 0 1px 2px
            var(--secondary-button-hover-innershadow-color),
          0 2px 0px #fff;
        outline: 1px solid var(--secondary-button-border-hover-color);
        border: none;
        color: var(--secondary-button-hover-text-color);
        text-shadow: #ffffffff;
      }
    }
  }
}
