.rightDrawer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 320px;
  flex: 1 0 320px;
  /*background: linear-gradient(to bottom, #2c4240, #2f565f);*/
  background: linear-gradient(to bottom, #2a413f, #2f565f);
  border-left: 1px solid #cfd9e0;
  font-size: 16px;
  padding: 0 0.75rem;
  align-items: flex-start;
  color: #8aa7a3;
  max-width: 320px;
  justify-content: center;

  label {
    width: 100%;
    text-align: left;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    height: 44px;
    min-height: 44px;
    padding: 0 0.5rem;
    background: linear-gradient(to bottom, #1a202088, #222b2a88);
    box-shadow: 0 1px 0px #476e6aaa;
    color: #ffffffc3;

    &:focus {
      outline: none;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .systemPromptContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 12px;

    button {
      width: 44px;
      flex: 0 0 44px;
      padding: 0;
      background: linear-gradient(to bottom, #5fd1be, #56b8af);
      color: #fff;
      outline: none;
      box-shadow: 0 2px 4px #222b2aff, 0 4px 8px #222b2aaa,
        inset 0 1px 0 #abebebdd;
      border: none;

      &:hover {
        background: #56b3abee;
        box-shadow: inset 0 2px 2px #00000033, 0 2px 0px #5893a0aa;
        outline: 1px solid #17312fcc;
        color: #fff;
      }
    }
  }

  .temperatureContainer,
  .contextContainer,
  .maxTokensContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 12px;

    button {
      width: 44px;
      flex: 0 0 44px;
      padding: 0;
      color: #fff;
      outline: none;
      border: none;
      cursor: auto;
      box-shadow: 0 2px 4px #222b2a77, 0 4px 8px #222b2a44,
        inset 0 2px 0px #3a6165, inset 0 -1px 0px #2f5053;
      background: linear-gradient(to bottom, #355555, #2a5054);

      &:hover {
        cursor: auto;
      }

      svg path {
        fill: #809698;
      }
    }
  }

  .webSearchContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .switchContainer {
      width: 64px;
      height: 32px;
      background: linear-gradient(to bottom, #1a202088, #222b2a88);
      border-radius: 22px;
      cursor: pointer;
      box-shadow: 0 1px 0px #476e6aaa, inset 0 1px 2px #00000033;

      .switch {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: linear-gradient(to bottom, #7ea7a3, #5c8080);
        transition: margin 0.2s ease-in, box-shadows 0.2s ease-in;
        box-shadow: inset 0 1px 0 #91b9b5;

        &.active {
          background: linear-gradient(to bottom, #5bc6b8, #34a69a);
          margin-left: 32px;
          box-shadow: 0 2px 4px #222b2acc, 0 8px 16px #222b2a66,
            inset 0 1px 0 #abebebdd;
        }
      }
    }
  }

  .settingsSaveContainer {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    width: 100%;
    margin-top: 2rem;

    button {
      width: 100%;

      &.save {
        background: linear-gradient(to bottom, #5fd1be, #56b8af);
        color: #fff;
        outline: none;
        box-shadow: 0 2px 4px #222b2acc, 0 4px 8px #222b2a66,
          inset 0 1px 0 #abebebdd;
        border: none;
        width: 50%;
        font-weight: 500;

        &:hover {
          background: #56b3abee;
          box-shadow: inset 0 2px 2px #00000033, 0 2px 0px #5893a0aa;
          outline: 1px solid #17312fcc;
          color: #fff;
        }
      }

      &.more {
        /*background: linear-gradient(to bottom, #ffffff, #cfd6d6);*/
        /*background: linear-gradient(to bottom, #e2e7e7, #b9c8c8);*/
        background: linear-gradient(to bottom, #e6eec1dd, #bddca0dd);
        border: none;
        outline: none;
        box-shadow: 0 2px 4px #222b2acc, 0 4px 8px #222b2a66,
          inset 0 1px 0 #f9ffdf;
        color: #000000;
        padding: 0;
        width: 50%;
        font-weight: 500;
      }

      &.more:hover {
        background: linear-gradient(to bottom, #f8fce5dd, #d9ecc6dd);
        box-shadow: 0 2px 4px #76c4b955, 0 4px 8px #7fe1c766;
        color: #000000cc;
        outline: 1px solid #3e8079cc;
        text-shadow: none;
      }
    }
  }
}
