.rightDrawer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 300px;
  flex: 1 0 300px;
  background-color: #ffffff44;
  border-left: 1px solid #cfd9e0;
  font-size: 16px;
  padding: 0 0.75rem;
  align-items: flex-start;

  label {
    width: 100%;
    text-align: left;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    height: 44px;
    padding: 0 0.5rem;
    box-shadow: 0 2px 0px #ffffffbb;
  }

  .systemPromptContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 12px;

    button {
      width: 44px;
      flex: 0 0 44px;
      padding: 0;
      background: linear-gradient(
        to bottom,
        var(--green-button-top-color),
        var(--green-button-bottom-color)
      );
      color: #fff;
      outline: none;
      box-shadow: 0 2px 4px #76c4b955, 0 4px 8px #7fe1c766;
      border: none;

      &:hover {
        background: #49a199ee;
        box-shadow: inset 0 1px 2px #00000033, 0 2px 0px #fff;
        color: #fff;
        outline: 1px solid #3e8079aa;
        border: 1px solid #49a199ee;
      }
    }
  }

  .temperatureContainer,
  .contextContainer,
  .maxTokensContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 12px;

    button {
      width: 44px;
      flex: 0 0 44px;
      padding: 0;
      color: #fff;
      outline: none;
      border: none;
      cursor: auto;
      box-shadow: 0 1px 2px #a8b8c866, 0 4px 8px #cfd8e199;

      &:hover {
        background: #fff;
        cursor: auto;
        box-shadow: 0 1px 2px #a8b8c866, 0 4px 8px #cfd8e199;

        svg path {
          fill: #000;
        }
      }
    }
  }

  .webSearchContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .switchContainer {
      width: 64px;
      height: 32px;
      background: linear-gradient(to bottom, #dbe0e5, #eaeef2);
      border-radius: 22px;
      cursor: pointer;
      box-shadow: 0 2px 0px #fff, inset 0 1px 2px #00000033;

      .switch {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: linear-gradient(to bottom, #b0b0b0aa, #696969aa);
        transition: margin 0.2s ease-in, box-shadows 0.2s ease-in;

        &.active {
          background: linear-gradient(to bottom, #5bc6b8, #34a69a);
          margin-left: 32px;
          box-shadow: 0 2px 4px #76c4b955, 0 4px 8px #7fe1c766;
        }
      }
    }
  }

  .settingsSaveContainer {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    width: 100%;
    margin-top: 2rem;

    button {
      width: 100%;

      &.save {
        background: linear-gradient(
          to bottom,
          var(--green-button-top-color),
          var(--green-button-bottom-color)
        );
        color: #fff;
        outline: none;
        box-shadow: 0 2px 4px #76c4b955, 0 4px 8px #7fe1c766;
        border: none;

        &:hover {
          background: #49a199ee;
          box-shadow: inset 0 1px 2px #00000033, 0 2px 0px #fff;
          color: #fff;
          outline: 1px solid #3e8079aa;
          border: 1px solid #49a199ee;
        }
      }

      &.more:hover {
        background: #fff;
        box-shadow: 0 2px 4px #76c4b955, 0 4px 8px #7fe1c766;
        color: #000000aa;
        outline: 1px solid #86e5ce;
        text-shadow: none;
      }
    }
  }
}
