.leftDrawer {
  min-height: 100vh;
  max-height: 920px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  flex: 0 0 360px;
  font-size: 16px;
  padding: 0 0 0 16px;
  align-items: flex-start;
  max-width: 360px;
  min-width: 360px;

  figure {
    font-weight: 800;
    font-style: italic;
    font-size: 26px;
    color: #ffffffc3;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    width: 100%;
    min-height: 74px;
    overflow: hidden;

    span {
      font-family: "Montserrat";
      /*transform: translateY(-1px);*/
      color: #6d48c1;
      /*animation: slideInFromLeft 0.5s ease-out forwards;*/
    }

    img {
      width: 42px;
      border: 3px solid #6d48c1;
      border-radius: 100%;
      opacity: 0.9;
      box-shadow: 0 2px 4px #8565ab60, 0 4px 8px #8565ab40, 0 8px 16px #8565ab40;
      /*animation: slideInFromRight 0.5s ease-out forwards;*/
    }
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      to bottom,
      #ffffff66,
      var(--base-container-background-color)
    );
    /*background-color: var(--base-container-background-color);*/
    border: 1px solid var(--base-container-border-color);
    border: 1px solid #ffffffaa;
    /*box-shadow: 0 6px 12px -2px hsla(265, 40%, 32%, 0.188);*/
    box-shadow: 0 6px 12px -2px hsla(251, 30%, 32%, 0.188);
    border-radius: 6px;
    padding: calc(0.9rem - 1px) 1rem 0.75rem 1rem;
    width: 100%;

    h3 {
      font-size: 14px;
      color: var(--label-grey-text-color);
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 600;

      .nPages {
        margin-left: auto;
        font-size: 14px;
        font-weight: 500;
        transform: translateY(1px);
      }
    }

    .searchFilterContainer {
      display: flex;
      width: 100%;
      height: 34px;
      flex-direction: row;
      column-gap: 10px;
      margin-top: 0.75rem;
      flex-grow: 0;
      max-width: 100%;
      /*overflow: hidden;*/

      .searchContainer,
      .filterContainer {
        display: flex;
        height: 100%;
        border: 1px dashed #a7afdd;
        align-items: center;
        justify-content: center;
        border-radius: 34px;
        padding: 0 6px;
        background-color: #dee2f2;
        column-gap: 0px;
        flex-basis: 34px;
        flex-shrink: 0;
        cursor: pointer;

        --transition-duration: 0.2s;
        transition: width var(--transition-duration) ease-out,
          fill var(--transition-duration) ease-out,
          border var(--transition-duration) ease-out,
          border-radius var(--transition-duration) ease-out,
          background-color var(--transition-duration) ease-out,
          flex-basis var(--transition-duration) ease-out;

        input {
          border: none;
          background: none;
          outline: none;
          font-size: 15px;
          flex: 1 1 100%;
          color: var(--purple-button-color);
          height: 100%;
          box-shadow: none;
          width: 0;

          transition: width var(--transition-duration) ease-out,
            column-gap var(--transition-duration) ease-out;
        }

        svg {
          flex-shrink: 0;
          flex-grow: 0;
          path {
            fill: #7983b5;
          }
        }

        &.active {
          border: 1px solid var(--purple-button-color);
          color: var(--purple-button-color);
          background-color: var(--answer-background-color);
          flex: 1 1 calc(100% - 58px); /* 58 = col gap + padding + icon width */
          column-gap: 6px;

          svg {
            margin-right: 5px;

            path {
              fill: var(--purple-button-color);
            }
          }

          input {
            width: 100%;

            &::placeholder {
              color: #6d48c188;
            }
          }
        }

        &:hover:not(.active) {
          border-color: var(--purple-button-color);
          color: var(--purple-button-color);
          background-color: var(--light-purple-background-color);

          svg {
            path {
              fill: var(--purple-button-color);
            }
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      margin-top: 0.75rem;
      width: 100%;
      row-gap: 0.5rem;

      li {
        width: 100%;
        text-align: left;
        height: 34px;
        font-size: 14px;
        background: var(--main-background-color);
        border: 1px dashed #aebae0;
        padding: 0 0.5rem 0 0.5rem;
        display: flex;
        border-radius: 4px;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        align-items: center;
        column-gap: 0.5rem;
        line-height: 36px;

        .arrow {
          display: none;
        }

        &.activeDocument {
          /*color: #fff;*/
          display: flex;
          justify-content: space-between;
          align-items: center;
          /*background: #6755be;
          border: 1px solid #522bab;*/
          padding-left: 0;
          border: 1px solid #aebae0;

          svg path {
            fill: #fff;
          }

          &:hover svg path {
            fill: #6d48c1;
          }
        }

        &.fillerItem {
          background: #ffffff55;
          width: 100%;
          cursor: auto;
          border: 1px dashed #ffffff66;

          &:hover {
            background: #ffffff55 !important;
            cursor: auto;
            border: 1px dashed #ffffff66 !important;
          }
        }

        &.active {
          background: /*linear-gradient(
              to right,
              #e552f100 0%,
              rgba(229, 82, 241, 0.16) 75%
            ),*/ #6755be;
          color: #fff;
          /*font-weight: 500;*/
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: auto;
          border: 1px solid #522bab;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 1;
          }

          .conversationTrashBtn {
            height: 36px;
            width: 31px;
            flex-shrink: 0;
            margin: 0;
            background: none;
            box-shadow: none;
            transform: translateX(8px);
            border-radius: 0;
            border: none;
            outline: none;

            &:hover {
              background-color: hsl(250, 44%, 48%);
              border: 1px solid hsl(250, 42%, 42%);
            }
          }
        }

        &:hover:not(.active):not(.blankConversationItem) {
          background-color: #d8d2f0;
          border: 1px solid #6d48c1;
          color: #6d48c1;
          display: flex;
          justify-content: space-between;

          .arrow {
            display: block;
          }
        }
      }
    }

    button {
      height: 34px;
      margin-top: 0.5rem;
      font-weight: 500;
      letter-spacing: 0.015em;
      font-size: 14px;
      border: none;
      width: 34px;
      padding: 0;
      color: #fff;
      outline: none;
      border-radius: 100%;

      &.purple {
        background: var(--purple-button-color);

        &:hover {
          background-color: #52439d;
          border: 1px solid #4d3e98;
          box-shadow: 0 2px 0 #fff;
        }
      }

      &.white {
        background: #f8f8fc99;
        box-shadow: 0 1px 2px -1px hsla(252, 29%, 53%, 0.3),
          0 4px 8px -1px hsla(246, 29%, 52%, 0.21);

        &:hover {
          background: var(--secondary-button-hover-color);
          box-shadow: inset 0 1px 2px
              var(--secondary-button-hover-innershadow-color),
            0 2px 0px #fff;
          outline: 1px solid var(--secondary-button-border-hover-color);
          border: none;
          color: var(--main-black-text-color);
          text-shadow: #ffffffff;

          svg path {
            fill: #707baf;
          }
        }

        svg path {
          fill: var(--main-black-text-color);
        }
      }
    }

    .buttonsContainer {
      display: flex;
      column-gap: 0.5rem;
      width: 100%;
      margin-top: 0.25rem;

      .deleteSelected {
        display: flex;
        height: 34px;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        font-size: 13px;
        background: var(--purple-button-color);
        color: #fff;
        outline: none;
        padding: 1px 0.75rem 0 0.75rem;
        border-radius: 34px;
        font-weight: 400;
        column-gap: 0.5rem;
        cursor: pointer;
      }
    }
  }

  .closedImagesSlot:hover,
  .closedDocumentsSlot:hover {
    border: 1px solid var(--purple-button-color);
    background: linear-gradient(to bottom, hsl(252, 50%, 92%), #d8d2f0);
    box-shadow: 0 1px 2px -1px hsla(252, 34%, 45%, 0.493),
      0 4px 8px -1px hsla(261, 47%, 43%, 0.466);

    h3 {
      color: var(--purple-button-color);
    }

    svg {
      fill: var(--purple-button-color);

      path {
        fill: var(--purple-button-color);
      }
    }
  }

  .imagesSlot {
    input {
      width: 100%;
    }

    .imagesContainer {
      display: flex;
      row-gap: 0.25rem;
      column-gap: 0.25rem;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 12px;

      & > img,
      .fillerMiniature {
        box-sizing: border-box;
        display: flex;
        flex: 1 1 100%;
        max-width: calc((100% - 1rem) / 5);
        aspect-ratio: 1 / 1;
        border: 1px solid var(--input-border-color);
        object-fit: cover;
        cursor: pointer;
        justify-content: center;
        align-items: center;

        &.active {
          border: 2px solid var(--purple-button-color);
        }
      }

      .fillerMiniature {
        background-color: rgb(222, 227, 239);
        cursor: auto;
      }

      .uploadButton {
        display: flex;
        flex: 1 1 100%;
        max-width: calc((100% - 1rem) / 5);
        aspect-ratio: 1 / 1;
        border: 1px solid var(--input-border-color);
        object-fit: cover;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background-color: rgb(222, 227, 239);

        img {
          transform: translateY(-1px);
        }
      }
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
