#root {
  max-width: 1280px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 3rem;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  column-gap: 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
}

select {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 0 0.25rem;
  border: 1px solid #d4d4d4;
}
