*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
}

:root {
  font-family: "Jost", sans-serif;
  font-family: Jost;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple-button-color: #6d48c1;
  --purple-button-hover-background-color: #75689b;
  --purple-button-hover-border-color: #524678;

  --secondary-button-hover-color: #c9cfe8;
  --secondary-button-border-hover-color: #b4bde0;
  --secondary-button-hover-text-color: #707baf;
  --secondary-button-hover-innershadow-color: #5967a6b3;

  --light-purple-background-color: #d8d2f0;
  --light-purple-border-color: #6d48c1;

  --main-background-color: #dee0f2;
  --main-black-text-color: #252525;

  --dotted-border-color: #a3a8db;

  --input-background-color: #dee0ef;
  --input-border-color: #aaafcc;

  --base-container-background-color: #e9eaf6;
  --base-container-border-color: #c4c7e8;

  --label-grey-text-color: #848ab3;

  color: var(--main-black-text-color);
  background-color: var(--main-background-color);
}

html {
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
