*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
}

:root {
  font-family: "Jost", sans-serif;
  font-family: Jost;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  color: #000000ee;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  /*background: linear-gradient(to bottom, #efefef99, #fff);*/
  /*background: linear-gradient(to bottom, #e9ecefbb, #fff);*/
  background: linear-gradient(to bottom, #e9ecefbb, #eaeff35d);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
